@mixin link_hover{
    color: lighten($red, 15%);

}

@mixin link_hover2{
  color: lighten($red, 15%);
}

@mixin img_border{
    border: 5px solid $red;
}

//media queries

@mixin bp($point) {
  @if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == fullscreen {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == large_screen {
    @media (min-width: 1280px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 360px) { @content; }
    }
  @else if $point == mobile_small {
    @media (max-width: 320px) { @content; }
    }
}

// Flexbox

@mixin flex{
  display:flex;
  -moz-display: flex;
}

@mixin flex_row{
  flex-direction: row;
  -webkit-flex-direction: row;
}

@mixin flex_row_reverse{
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

@mixin flex_wrap{
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

@mixin flex_justify_center{
  justify-content: center;
  -webkit-justify-content: center;
}


@mixin flex_basis_100{
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@mixin flex_basis_60{
  flex-basis: 60%;
  -webkit-flex-basis: 60%;
}

@mixin flex_basis_50{
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
}

@mixin flex_justify_space_around{
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

@mixin flex_justify_space_between{
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

@mixin flex_justify_end{
  justify-content: flex-end;
  -moz-justify-content: flex-end;
}

@mixin flex_align_start{
  align-self: flex-start;
  -moz-align-self: flex-start;
}

@mixin flex_align_center{
  align-self: center;
  -moz-align-self: center;
}

// Web Fonts

/*
 To later include font-face mixin:

 @include font-face('abolition-regular', abolition-regular);

*/
@mixin font-face($family, $file){
  @font-face {
  font-family: $family;
  src: url('#{$path-font}/#{$file}-webfont.eot');/*Use interpolatiion when variable is a string. Font and file paths are defined in fontfamily.scss*/
  src: url('#{$path-font}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$path-font}/#{$file}-webfont.woff') format('woff'),
       url('#{$path-font}/#{$file}-webfont.ttf') format('truetype');
}

}

/*
 To later include text mixin:

 @include text(1em, 1.5, $color:$color-text-base); Note: because of "NULL" can skip over values

*/

@mixin text($size, $l-height:null, $weight:null, $color:null){
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

// Each directive to create classes for each key in our colors map (in _colors.scss partial)
/* To include, create .btn selector in _bass.scss .btn{@include bg-colors($ui-colors);}  */
@mixin bg-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;
		}
	}
}

/* Top down grey to white color gradient */
@mixin gradient_grey_top{
 -webkit-background: linear-gradient($lightergrey, transparent 7%),
 linear-gradient(90deg, $lightergrey, transparent),
 #fff;
 background: linear-gradient($lightergrey, transparent 7%),
 linear-gradient(0deg, $lightergrey, transparent),
  #fff;
}

/* left to right grey to white color gradient */
@mixin grey_ltr{
  background-color: palette(grey, xx-light);
    background-image:
      linear-gradient(
        to right,
        $lightgrey,
        palette(grey, xx-light) 20%
      );
}

// Transform effect
@mixin transform_1{
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
   transform: scale3d(1.1, 1.1, 1.1);
}

@mixin animation_spin{
    animation: turn 1.1s .2s ease-out forwards;
}

//Transition effect
// Ex include:   @include transition(all .5s ease);
@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin mobile_right_toggle{
  right: 0;
  top: 0;
  height: 48px;
  width: 48px;
  position: absolute;
}
@mixin wrapper_90{
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
@mixin wrapper_95{
  max-width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

@mixin fixed_header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@mixin fixed_footer_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 10;
}
