/***************
NAV
***************/

#nav_heart,
#nav_location,
#nav_contact {
  fill: $light_blue;
}

#nav_heart:hover,
#nav_location:hover,
#nav_contact:hover {
  fill: $blue;
}



/***************
LOGO
***************/

#logo_text {

@include mobile {
  display: none;
}

@include desktop { 
  display: flex;
  position: absolute;
  top: -10000px;
  left: -10000px;
  stroke: $tan;
  stroke-width: 1;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: offset 5s linear forwards, fill_text .8s 1s forwards;
}
}

#logo_paw {
  stroke: $negroni;
  stroke-width: 1;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: offset 3.5s linear forwards, fill_pawn 1.8s 2s forwards;
}

#logo_background {
  animation: fill_logo_background 2.1s 2.5s forwards;
}



/***************
DOGS
***************/

#corgi-red:hover,
#corgi-fawn:hover,
#corgi-sable:hover,
#corgi-blacktan:hover {
  animation: grow 1.2s .8s forwards;
}

